root = true

[*.cs]
indent_size = 4
max_line_length = 170
# Blank lines
resharper_blank_lines_inside_region = 1
resharper_csharp_blank_lines_inside_region = 1
resharper_csharp_blank_lines_around_region = 1
resharper_blank_lines_around_region = 1
resharper_csharp_keep_blank_lines_in_code = 1
resharper_keep_blank_lines_in_code = 1
resharper_csharp_blank_lines_around_multiline_case_section = 1
resharper_blank_lines_around_multiline_case_section = 1
resharper_csharp_blank_lines_around_block_case_section = 1
resharper_blank_lines_around_block_case_section = 1
resharper_csharp_blank_lines_before_multiline_statements = 0
resharper_blank_lines_before_multiline_statements = 0
resharper_csharp_blank_lines_after_multiline_statements = 1
resharper_blank_lines_after_multiline_statements = 1
resharper_csharp_blank_lines_after_block_statements = 1
resharper_blank_lines_after_block_statements = 1
resharper_csharp_blank_lines_around_single_line_local_method = 1
resharper_blank_lines_around_single_line_local_method = 1
resharper_csharp_blank_lines_around_local_method = 1
resharper_blank_lines_around_local_method = 1